<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.physiolab.sante.santemulti">

    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"
        />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"
        />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>


    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- Needed only if your app communicates with already-paired Bluetooth
           devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!--bibo01 : hardware option-->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:name="com.physiolab.sante.SanteApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ScanActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|adjustPan|stateAlwaysHidden"
            />

        <activity android:name=".SelectActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|adjustPan|stateAlwaysHidden"
            android:theme="@style/AppTheme2"
            android:exported="true">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Main1chActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|adjustPan|stateAlwaysHidden"
            >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".Measure1chActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|adjustPan|stateAlwaysHidden" />

        <activity
            android:name="com.physiolab.sante.PopupActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.physiolab.sante.PopupTimeActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Measure2chActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".MainActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".Main2chActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|adjustPan|stateAlwaysHidden">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name="com.physiolab.sante.BlueToothService.BTService"
            android:enabled="true"
            android:exported="false" />

    </application>


</manifest>